body {
    background-color: #FFFAF0;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
    position: relative;
}

.center {
    text-align: center;
}

.preview {
    background-image: url('/img/background.jpg');
    background-size: cover;
    background-position: center;
    padding: 22px 0 53px 0;

}

.button {
    border: 10px;
    color: aliceblue;
    padding: 15px 35px;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s;
    background-color: brown;
    border-color: white;

}

.item_svg {
    max-width: 50px;
    max-height: 50px;
}

.item_text {
    max-width: 175px;
}

.wrapper_flex {
    display: flex;
    justify-content: space-between;
    text-align: center;
    padding: 40px 20px;
}

.item_more {
    display: flex;
    justify-content: space-between;
    text-align: center;

}

.btn {
    display: flex;
    justify-content: space-between;
    text-align: center;
    gap: 20px;
    align-items: center;
}

.rightside {
    max-width: 600px;
    text-align: center;
    color: white;
    background-color: brown;
    border-radius: 8px;
    padding: 25px 15px;
    font-size: 18px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.leftside {
    max-width: 600px;
    text-align: center;
    font-size: 23px;
    background-color: rgba(255, 255, 255, 0.3);
    padding: 25px 35px;
    border-radius: 8px;
    border: 2px solid brown;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.uppercase {
    text-transform: uppercase;
}

.information {
    padding: 22px 0 53px 0;
}